<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.kmsale.mapper.system.RoleUserMapper">

<!-- 查看用户所属的角色-->
	<select id="listRoleOfUser" parameterType="com.bdxh.kmsale.bean.system.Role" 
	 resultType="com.bdxh.kmsale.bean.system.Role">
	select t1.role_id  "roleId",
	       t1.role_name "roleName",
	       t1.memo     "memo",
           t1.parent_id "parentId",
           t1.update_user "updateUser",
           t1.update_date "updateDate"
	  from  sc_role t1
	 inner join sc_role_user t2 on (t1.role_id = t2.role_id and
	                                t2.login_id = #{loginId})
	</select>
	
	<!-- 查看角色所属的角色-->
	<select id="listUserOfRole" parameterType="com.bdxh.kmsale.bean.system.Role" 
	resultType="com.bdxh.kmsale.bean.system.Role">
	select t1.role_id  "roleId",
	       t1.role_name "roleName",
	       t1.memo     "memo",
           t1.parent_id "parentId",
           t1.update_user "updateUser",
           t1.update_date "updateDate"
	  from  sc_role t1
	 inner join sc_role_user t2 on (t1.role_id = t2.role_id and
	                                t2.role_id = #{roleId})
	</select>
	
	<!-- 对角色删除用户-->
	<delete id="deleteRoleByroleId">
		delete from sc_role_user where role_id=#{roleId}
	</delete>
	
	<!-- 删除用户拥有的角色 -->
	<delete id="deleteRoleByloginId" >
		delete from   sc_role_user  where  login_id = #{loginId}
	</delete>

	<!-- 增加用户对应的角色 -->
	<insert id="insertUserRole"  
    	parameterType="com.bdxh.kmsale.bean.system.RoleUser">
		insert  into sc_role_user(
		role_id,login_id,update_user,update_date
	    )values(
	    #{roleId},#{loginId},#{userId},sysdate)
	</insert>
</mapper>