<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdxh.kmsale.mapper.system.UserMapper">
	<!-- 查询所有用户 -->
	<select id="selectUserAll"
		resultType="com.bdxh.kmsale.bean.system.User">
		select
		a.login_id "loginId",
		a.staff_id "staffId",
		a.login_name "loginName",
		b.department_desc "deptName",
		a.state "state",
		reg_date "regDate"
		from SC_LOGIN_USER a left
		outer join code_department b on (a.department = b.department and
		a.state = '1')
	</select>

	<!-- 根据ID查询用户信息 -->
	<select id="selectUserById" 
	resultType="com.bdxh.kmsale.bean.system.User" 
	parameterType="String">
	select
	a.login_id "loginId",
    a.department "department",
    a.staff_id "staffId",
    a.login_name "loginName",
    a.reg_date "regDate",
    a.password "password",
    a.gender "gender",
    a.mobile_phone "mobilePhone",
    a.email "email",
    a.state "state",
    a.memo as "memo",
    a.is_admin "isAdmin"
    from SC_LOGIN_USER a
    where a.login_id=#{loginId}
	</select>

	<!-- 查询用户数量 -->
	<select id="selectCountAll" resultType="java.lang.Integer"
		parameterType="com.bdxh.kmsale.bean.system.User">
		select count(*)
		from
		SC_LOGIN_USER
	</select>

	<!-- 根据邮箱查询用户数量 -->
	<select id="selectCountUserByEmail"
		resultType="java.lang.Integer">
		select count(*)
		from
		SC_LOGIN_USER
		where
		email=#{email}
	</select>

	<!-- 根据手机号查询用户数量 -->
	<select id="selectCountUserByPhone"
		resultType="java.lang.Integer">
		select count(*)
		from
		SC_LOGIN_USER
		where
		mobile_phone=#{mobilePhone}
	</select>

	<!-- 根据工号查询用户数量 -->
	<select id="selectCountUserByStaffId"
		resultType="java.lang.Integer">
		select count(*)
		from
		SC_LOGIN_USER
		where
		staff_id=#{staffId}
	</select>

	<!-- 新增用户 -->
	<insert id="insertUser"
		parameterType="com.bdxh.kmsale.bean.system.User">
		insert into SC_LOGIN_USER (
		login_id,area_no,city_no,town_no,sect_no,
		department,login_name,
		password, gender,mobile_phone,email,
		office_tel,state,init_pwd,reg_date,
		themes,memo,update_user,update_date,staff_id,
		is_admin,mark_area,
		sell_area, service_area
		)values(
		#{loginId},#{areaId,jdbcType=VARCHAR},#{cityId,jdbcType=VARCHAR},
		#{townId,jdbcType=VARCHAR},#{sectId,jdbcType=VARCHAR},
		#{department,jdbcType=VARCHAR},#{loginName,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},#{gender,jdbcType=VARCHAR},
		#{mobilePhone,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},
		#{officeTel,jdbcType=VARCHAR},#{state,jdbcType=VARCHAR},
		#{initPwd,jdbcType=VARCHAR},sysdate,
		#{themes,jdbcType=VARCHAR},#{memo,jdbcType=VARCHAR},
		#{updateUser,jdbcType=VARCHAR},sysdate,
		#{staffId},#{isAdmin,jdbcType=VARCHAR},#{markArea,jdbcType=VARCHAR},
		#{sellArea,jdbcType=VARCHAR},#{serviceArea,jdbcType=VARCHAR}
		)
	</insert>

	<!-- 修改信息 -->
	<update id="updateUser"
		parameterType="com.bdxh.kmsale.bean.system.User">
		update sc_login_user set 
		update_date=sysdate
			<if test="department!=null">
				,department= #{department}
			</if>
			<if test="loginName!=null">
				,login_name = #{loginName}
			</if>
			<if test="password!=null">
				,password= #{password}
			</if>
			<if test="gender!=null">
				,gender= #{gender}
			</if>
			<if test="mobilePhone!=null">
				,mobile_phone= #{mobilePhone}
			</if>
			<if test="email!=null">
				,email= #{email}
			</if>
			<if test="state!=null">
				,state = #{state}
			</if>
			<if test="memo!=null">
				,memo = #{memo}
			</if>
			<if test="updateUser!=null">
				,update_user= #{updateUser}
			</if>
			<if test="staffId!=null">
				,staff_id= #{staffId}
			</if>
			<if test="isAdmin!=null">
				,is_admin= #{isAdmin}
			</if>
		where
		login_id = #{loginId}
	</update>

	<!-- 根据ID删除 -->
	<delete id="deleteById" parameterType="String">
		delete from sc_login_user
		where
		login_id=#{loginId}
	</delete>

	<!-- 模糊和分页查询 -->
	<select id="seleclByResource"
		resultType="com.bdxh.kmsale.bean.system.User"
		parameterType="com.bdxh.kmsale.bean.ConditionResource">
		select * from (select rownum r,
		a.login_id "loginId",
		a.staff_id "staffId",
		a.login_name "loginName",
		a.department "department",
		a.state "state",
		b.department_desc "deptName",
		a.reg_date "regDate"
		from SC_LOGIN_USER a left
        outer join code_department b on (a.department = b.department) where 1=1
		<if test="id!=null">
			and a.staff_id like '%${id}%'
		</if>
		<if test="name!=null">
			and a.login_name like '%${name}%'
		</if>
		<if test="state!=null">
			and a.state=#{state}
		</if>
		and rownum&lt;= #{endPos} ) where r&gt;= #{startPos}
	</select>

	<!-- 条件查询返回条数 -->
	<select id="selectCountByResource"
		resultType="java.lang.Integer"
		parameterType="com.bdxh.kmsale.bean.ConditionResource">
		select
		count(*)
		from
		sc_login_user where 1=1
		<if test="id!=null">
			and staff_id like '%${id}%'
		</if>
		<if test="name!=null">
			and login_name like '%${name}%'
		</if>
		<if test="state!=null">
			and state=#{state}
		</if>
	</select>

	<!-- 注销用户 -->
	<update id="logOffUser" parameterType="String">
		update sc_login_user set
		state='0' where login_id=#{loginId}
	</update>

	<!-- 激活用户 -->
	<update id="activateUser" parameterType="String">
		update sc_login_user set
		state='1' where login_id=#{loginId}
	</update>

</mapper>